:root {
    --main_color: rgb(229, 255, 0);
    --links_color: rgb(255, 221, 0);
    --border_color: rgb(173, 160, 11);
}

body {
    background-color: rgb(18, 18, 18);
    color: var(--main_color);
    margin: 0;
}


.img_container img {
    height: 100%;
    width: 100%;
}

.img_container {
    position: relative;
    display: inline-block;
}

.img_overlay {
    position: absolute;
    bottom: -6.7%;
    left: 0;
    width: 100%;
    height: 24%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), transparent);
}

.img_overlay_2 {
    position: absolute;
    bottom: 29.6%;
    left: 0;
    width: 100%;
    height: 24%;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
}


header {
    font-size: 1.3rem;
    font-weight: 800;
    background-color: black;
    align-items: center;
    text-align: center;
    padding: 0.01%;
    margin-top: -16.9%;
    position: sticky;
    top: 0;
    padding: 1% 0;
}

header nav a {
    color: var(--links_color);
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 800;
    margin: 0 5.2%;
    background-color: rgb(27, 27, 27);
    border-radius: 30px;
    padding: 0.4%;
    margin: 0.8%;
    transition: 0.3s ease;
}

header nav a:hover {
    background-color: rgba(20, 20, 20);
}

header nav a:active {
    background-color: rgba(32, 32, 32);
}

header nav h2 {
    font-size: 1.75rem;
    text-align: center;
}

main {
    margin-top: 160px;
    font-size: 1.2rem;
}

main section {
    border-radius: 30px;
    border-width: 0.5rem;
    border-style: solid;
    border-color: var(--border_color);
    background-color: black;
    padding: 1% 1%;
    margin: 5% 0;
}

.header_decor {
    border: 0;
    display: flex;
    padding: 0% 0%;
    margin: 0 0%;
    text-align: center;
    justify-content: center;
    gap: 20px;
}


main #end {
    padding: 3% 1%;
    margin: 5% 0;
}

main section h1 {
    text-align: center;
}

main section h1:hover {
    animation: bounce-up-down 0.7s ease-in-out;
}

main section a {
    display: grid;
    text-align: center;
    justify-content: center;
    margin: 1%;
    border-radius: 30px;
    border-width: 0.5rem;
    border-style: solid;
    border-color: var(--border_color);
    background-color: black;
    padding: 0.8% 0.8%;
    font-size: 1.6rem;
    color: var(--links_color);
    transition: 0.3s ease;
}

main section a:hover {
    text-decoration: none;
    background-color: rgb(12, 12, 12);
}

main section a:active {
    text-decoration: none;
    background-color: rgb(30, 30, 30);
}

main section a:visited {
    color: rgb(255, 255, 0);
}

main .special_section {
    display: flex;
    border: 0;
    margin: 0 0;
    padding: 1% 0;
}

main .special_section img {
    width: 50%;
    height: 50%;
    border-radius: 10px;
    border-style: solid;
    border-width: 0.4rem;
}

form {
    display: grid;
    justify-content: center;
}

form input {
    padding: 3%;
    margin: 3%;
    width: 20rem;
    margin-left: -3%;
    border-radius: 10px;
    color: var(--main_color);
    background-color: rgb(16, 16, 16);
    border-color: var(--border_color);
}

form button {
    padding: 4%;
    color: var(--main_color);
    background-color: rgb(24, 24, 24);
    border-color: var(--border_color);
    transition: 0.3s ease;
}

form button:hover {
    background-color: rgb(16, 16, 16);;
}


footer {
    margin-bottom: -5%;
    padding: 3%;
    text-align: center;
    background-color: black;
}


@keyframes bounce-up-down {
  0% {
    transform: translateY(0);
  }
  33% {
    transform: translateY(-5px);
  }
  66% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}


@media (max-width: 768px) {
    header nav a {
        display: grid;
        font-size: 0.8rem;
    }
    
    main section section svg{
        display: none;
    }

    main section h1 {
        font-size: 1.7rem;
    }

    main section p {
        font-size: 0.9rem;
    }

    main section .special_section {
        display: grid;
        align-items: center;
    }

    main section .special_section img {
        width: 300px;
        height: 165px;
    }

    main section a {
        font-size: 1.2rem;
    }
}
